body{
    margin:0 auto;
    background-color: #f8f8f8;
}

header{
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 2px 2px 4px lightgray;
    text-align: center;
}

header img{
    margin-top: 15px;
    height:50px;
    padding-left: 40px;
}

main{
    clear: left;
    width: 100%;
}

.register_done{
    margin: 0 auto;
    border: lightgrey solid 2px;
    width: 600px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 40px;
    box-shadow: 4px 4px 4px lightgrey;
}

.register_done p{
    padding-top: 60px;
    text-align: center;
}

.register_done a{
    display: block;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}


footer{
    width:100%;
    height: 40px;
    background-color: white;
    color:grey;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    border-top: lightgrey solid 2px;
}