body{
    margin:0 auto;
    background-color: #f8f8f8;
}

header{
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 2px 2px 4px lightgray;
    text-align: center;
}

header img{
    margin-top: 15px;
    height:50px;
    padding-left: 40px;
}

.logout{
    float:right;
    margin-top: 50px;
    margin-right: 20px;
    font-size: 14px;
}

main{
    clear: left;
    width: 100%;
}

.mypage{
    margin: 0 auto;
    border: lightgrey solid 2px;
    width: 600px;
    background-color: white;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 4px 4px 4px lightgrey;
}


.mypage_contents{
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
}

.mypage_contents{
    text-align: center;
}
.mypage_contents span{
    font-weight: bold;
}

.display_contents{
    display: flex;
    padding-left: 40px;
    gap: 40px;
}

.prf_image{
    width: 189px;
    height: 267px;
}

.prf_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comments {
    padding-left: 50px;
}

h2 {
    text-align: center;
    border-bottom: solid 1px #31A263;
    font-size: 20px;
}

.edit{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}



.edit_button{
    margin: 0 auto;
    border: 1px solid lightgray;
    padding: 6px 60px 4px 60px;
    color: white;
    background-color: #31A263;
    border-radius: 5px;
    border-bottom: solid 2px grey;
    width: 250px;
    margin-bottom: 25px;
    text-align: center;
    text-decoration: none;
}


footer{
    width:100%;
    height: 40px;
    background-color: white;
    color:grey;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    border-top: lightgrey solid 2px;
}