body{
    margin:0 auto;
    background-color: #f8f8f8;
}

header{
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 2px 2px 4px lightgray;
    text-align: center;
}

header img{
    margin-top: 15px;
    height:50px;
    padding-left: 40px;
}

main{
    clear: left;
    width: 100%;
}

.confirm{
    margin: 0 auto;
    border: lightgrey solid 2px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 4px 4px 4px lightgrey;
}


.confirm_contents{
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
}

.confirm_contents{
    text-align: center;
}

.display_confirm{
    padding-left: 40px;
    padding-right: 40px;
}

h2 {
    text-align: center;
    border-bottom: solid 1px #31A263;
    font-size: 20px;
}

.button_container{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}

.back{
    padding-right: 30px;
    padding-left: 90px;
}

.submit_button{
    border: 1px solid lightgray;
    padding: 6px 60px 4px 60px;
    color: white;
    background-color: #31A263;
    border-radius: 5px;
    border-bottom: solid 2px grey;
    width: 200px;
    margin-bottom: 20px;
}


.back_button{
    border: 1px solid lightgray;
    padding: 6px 60px 4px 60px;
    color: white;
    background-color: lightgray;
    border-radius: 5px;
    border-bottom: solid 2px grey;
    width: 200px;
    margin-bottom: 20px;
    text-align: center;
}

footer{
    width:100%;
    height: 40px;
    background-color: white;
    color:grey;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    border-top: lightgrey solid 2px;
}